<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'style', plugin: 'dashboard' %>
	<%= javascript_include_tag 'script', plugin: 'dashboard' %>
	<%= javascript_include_tag 'Sortable.min', plugin: 'dashboard' %>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<% end %>

<% if @use_drop_down_menu %>
	<select id="select_project">
		<% @projects.each do |project_id, project| %>
			<% if project_id == @selected_project_id %>
				<option selected value="<%= project_id %>"><%= project[:name] %></option>
			<% else %>
				<option value="<%= project_id %>"><%= project[:name] %></option>
			<% end %>
		<% end %>
	</select>
	
	<script>
	function submitForm() {
  var showBacklogCheckbox = document.getElementById('show_backlog');
  var showBacklogValue = showBacklogCheckbox.checked ? 'True' : '';
  var currentUrl = window.location.href;
  var newUrl;

  if (showBacklogValue === '') {
    // Si el checkbox está desactivado, elimina el parámetro show_backlog de la URL si existe
    var regex = /[?&]show_backlog=[^&]+/g;
    newUrl = currentUrl.replace(regex, '').replace('?&', '?');
  } else if (currentUrl.includes('?')) {
    // Si la URL ya tiene un querystring, actualiza el valor de show_backlog
    newUrl = currentUrl.replace(/(\?|&)show_backlog=[^&]*/, '');
    newUrl += newUrl.includes('?') ? '&' : '?';
    newUrl += 'show_backlog=' + showBacklogValue;
  } else {
    // Si la URL no tiene un querystring, agrega el nuevo parámetro show_backlog
    newUrl = currentUrl + '?show_backlog=' + showBacklogValue;
  }

  window.location.href = newUrl;
}

function closeIssue(issueId) {
  // Redirecciona al usuario a la página de edición de la tarea con el estado actualizado a "closed"
  window.location.href = '/issues/' + issueId + '/edit?issue[status_id]=5';
}

	</script>
	<% @show_backlog = params[:show_backlog] == 'True' %>
	<%= check_box_tag 'show_backlog', 'False', @show_backlog, onchange: 'submitForm()' %> Show Backlog
	<br/><% if @selected_project_id != 'All' %>
		<%= link_to 'Go to Project Issues', project_issues_path(@selected_project_id) %>
	<% end %>
<% else %>
	<div class="select_project_container">
		<% @projects.each do |project_id, project| %>
			<% if project_id == @selected_project_id %>
				<div class="select_project_item select_project_item_selected" style="background-color: <%= project[:color] %>" data-id="<%= project_id %>"><%= project[:name] %></div>
			<% else %>
				<div class="select_project_item" style="background-color: <%= project[:color] %>" data-id="<%= project_id %>"><%= project[:name] %></div>
			<% end %>
		<% end %>
	</div>
<% end %>

<div class="issues_container">
	<% @statuses.each do |status_id, status| %>
		<% if status[:name] != "Backlog" or (status[:name] == "Backlog" and not params[:show_backlog].nil?) %>
		<div class="status_column" data-id="<%= status_id %>">
			<div class="status_column_header" style="border-bottom-color: <%= status[:color] %>">
				<span> <%= status[:name] %> </span>
			</div>
			<div class="<%= status[:is_closed] ? "status_column_closed_issues" : "status_column_issues" %>">
				<% @issues.select { |issue| issue[:status_id] == status_id }.each do |issue| %>
					<% project_color = @projects[issue[:project_id]][:color] %>
					<% project_name = @projects[issue[:project_id]][:name] %>
					
					
					<% if issue[:executor] == @selected_executor || @selected_executor== -1 %>
					<div class="issue_card" style="border: solid 1px <%= project_color %>" data-id="<%= issue[:id] %>" onclick="goToIssue(<%= issue[:id] %>)">
						<span class="issue_card_id"> <%= "#" + issue[:id].to_s %> </span>
						<div class="issue_card_header">
							<span class="issue_card_header_date"><%= I18n.l(issue[:created_on], format: :long) %></span>
							<% if @show_project_badge %>
								<div class="issue_card_header_project" style="background-color: <%= project_color %>; border: solid 1px"><%= project_name %></div>
							<% end %>
						</div>
						<span class="issue_card_title"> <%= issue[:subject] %> </span>
						<span class="issue_card_author"><i class="bi bi-exclamation-circle"></i> <%= issue[:priority] %> </span>
						<span class="issue_card_author"><i class="bi bi-person"></i> <%= issue[:author] %> </span>
				

						<% if issue[:executor] == '' || issue[:executor].nil? %>
							<span class="issue_card_executor_not_set"><i class="bi bi-hammer"></i> <%=l :executor_not_set %></span>
						<% else %>
							<span class="issue_card_executor"><i class="bi bi-hammer"></i> <%= issue[:executor] %> </span>
						<% end %>
					</div>
					<% if not status[:is_closed]  and status[:name] == "Resolved" %>
						<button class="btn btn-secondary btn-sm float-end" onclick="closeIssue(<%= issue[:id] %>)">close</button>
					<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<% end %>
	<% end %>
</div>

<script>
	$(function() {
		init(<%= @use_drag_and_drop %>);
	})
</script> 
